.backGround-auth{
    background-color: #e8edf1 !important;
    width: 100% !important;
    height: 100vh;    
    margin: 0% !important;
    
    .containerAccount{
        height: 100vh !important;                        
    }
}