<div class="container-fluid backGround-auth text-center">
    <div class="row justify-content-center align-items-center vertical-middle containerAccount">
        <div class="col-sm-11 col-md-5 col-lg-5 col-xl-4 border rounded bg-white ">
            <div class="row background-corner p-4 card">
                <div class="col-12">
                    <h1>HirCasa</h1>
                    <p>Examen de Seleccion</p>
                </div>
                <div class="col-12 px-5">
                    <router-outlet></router-outlet>
                </div>
                <div class="col-12 g-4">
                    <div class="row">
                        <div class="col-sm-12 col-md-7 col-lg-7 col-xl-7">
                            <div class="row justify-content-between">
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-5 col-xl-5">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>