<div class="row justify-content-center">
    <div class="col-10 card">
        <div class="card-body">
           
            <h3 class="text-end">Usuarios</h3>
            <div class="row justify-content-between">
                <div class="col-4">
                    <div *ngIf="code>0" class="alert alert-{{classalert}}" role="alert">
                        {{message}}
                       </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="mb-3">Edici&oacute;n de Usuarios</h4>
                            <form [formGroup]="form" class="needs-validation">
                                <input type="hidden" formControlName="id" value="{{model.id}}">
                                <input type="hidden" formControlName="asset" value="{{model.asset}}">
                                <div class="row g-3">
                                    <div class="col-sm-12">
                                        <label for="firstName" class="form-label">Usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">#</span>
                                            <select class="form-select " formControlName="person">
                                                <option value="0">Selecciona una Persoan</option>
                                                <option *ngFor="let p of listSelect;" value="{{p.id}}">{{p.name}} {{p.lastName}}</option>                                       
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-5">
                                        <label for="firstName" class="form-label">Usuario</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">#</span>
                                            <input formControlName="userName" type="text" class="form-control" id="firstName" placeholder="Nombre"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-sm-7">
                                        <label for="firstName" class="form-label">Rol</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">#</span>
                                            <select class="form-select " formControlName="rol">
                                                <option value="Administrator">Administrador</option>
                                                <option value="Customer">Comprador</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="contraseña" class="form-label">Contrase&ntilde;a</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">#</span>
                                            <input formControlName="password"  type="password" class="form-control" id="contraseña"
                                                placeholder="Contraseña" >
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label for="contraseña" class="form-label">Confirmar Contrase&ntilde;a</label>
                                        <div class="input-group has-validation">
                                            <span class="input-group-text">#</span>
                                            <input  type="password" class="form-control" id="contraseña"
                                                placeholder="Contraseña" >
                                        </div>
                                    </div>
                                    
                                </div>
                                <hr class="my-4">

                                <button class="w-100 btn btn-outline-primary btn-lg my-2" (click)="save()" [disabled]="!form.valid && !passwordConfirm" type="submit">Guardar</button>
                                <button class="w-100 btn btn-outline-secondary btn-lg my-2" (click)="reset()" type="reset">Cancelar</button>

                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-7">
                    <div class="row">
                     <app-filterlist></app-filterlist>
                        <div class="col-12">
                            <table class="table">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Usuario</th>
                                        <th scope="col">Persona</th>
                                        <th scope="col">Rol</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <ng-container *ngFor="let row of list;let i = index;">
                                        <tr>
                                            <th scope="row">{{row.id}}</th>
                                            <td>{{row.userName}}</td>
                                            <td>{{getNamePerson(row.person)}}</td>
                                            <td>{{row.rol}}</td>
                                            <td class="text-center">
                                                <span (click)="edit(i)" class="text-warning pointer"> 
                                                    <i class="fa-solid fa-pen-to-square"></i>
                                                </span>
                                            </td>
                                        </tr>
                                    </ng-container>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>